body {
    background-color: #F1FFFA; 
}

.hero-content {
    position: absolute;             /* positioning will be explained in a resource */
    
    width: 30%;
    height: 100%;
    background-color: #93B7BE 
}

.hero-content .hero-title {
    font-family: Arial;
    color: #785964;
    margin: 30px;
}