<section class="new-messages-background">
    <div class="new-messages-holder">
        <input type="text" class="new-message-input" ng-model="messageContent">
    </div>
    <button class="send-btn" ng-click="rooms.send(messageContent); clearfunction(this)">Send</button>
</section>

<section class="hero-content">
    <h1 class="hero-title">Bloc Chat</h1>
    <button class="new-room" ng-click="rooms.openModal()">
        <h4 class="room-btn">New Room</h4>
    </button>
    <div class="room-title" ng-repeat="room in rooms.rooms track by $index">
        <div ng-click="rooms.selectRoom(room)">{{ room.name }}</div>
    </div>
    <div class="username">user: {{ rooms.currentUser }}</div>
</section>

<section class="messages-room-title">
    <h2 class="messages-room-name">{{ rooms.currentRoom.name }}</h2>
</section>

<section class="messages-content">
    <div class="message-holder">
    <div ng-repeat="message in rooms.messages">
        <p class="message-username">{{ message.username }}</p>
        <p class="time-stamp">{{ message.sentAt }}</p>
        <p class="messages">{{ message.content }}</p>
    </div>
    </div>
</section>

